.statistics {
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #e4e9f0;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 50px;
}
.title {
    color: #52595f;
    padding: 20px 0;
}
.stat_list {
    display: flex;
    flex-wrap: wrap;
}
.item {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    flex-basis: calc(100% / 4);
}
.label {
    font-size: 14px;
    margin-bottom: 5px;
}
